*{
margin: 0;
padding: 0;
}


/*--Nav Bar-- */
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand img {
height: 80px;
padding-left: 30px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: center;
    text-align: center;

}

#nav-bar ul li a:hover{
    color: #007bff !important;
}
.navbar {
    background-color: #fff ;
}
.navbar-toggler {
    border: none!important;

}
.nav-link{
    color: #555!important;
    font-weight: 500;
    font-size: 16px;
}
.quote{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding:15px 50px ;
    color:white!important;
    
}
.cal{
    background-color:rgb(179, 49, 49);
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding:15px 50px ;
    color:white!important;
    
}

#nav-bar .quote:hover{
    background-color: white;
    padding-bottom: 10px;
    text-decoration: underline solid #2196f3!important;
    
}

#nav-bar .cal:hover{
    background-color: white;
    padding-bottom: 10px;
    text-decoration: underline solid #2196f3!important;
    
}

#b21{
    color: black;
}
/*--slider--*/
#slider{
    width: 100%;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-120%);
    bottom: initial!important ;
}
.carousel-caption h5{
    color: #fff;
    font-size: 42px;
}
/*--about--*/

#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;

}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.class-content{
    padding-top: 20px;
    
}

/*-- Services--*/

#services{
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)),url(img/back.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top:40px;
    padding-bottom: 30px;
}
#services h1{
    text-align: center;
    color: #efefef;
    padding-bottom: 10px;
}

#services h1::after{
    content: '';
    background-color: #efefef;
    display: block;
    height: 2px;
    width: 170px;
    margin: 20px auto 5px;

}
.services{
    margin-top: 40px;

}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;

}

#services p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background-color: #007bff ;
    cursor: pointer;
    transition: 0.7s;
}

/*--locations--*/

#locations{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1{
    text-align: center;
    color: #555;
    padding-bottom: 10px;
}
h1::after{
    content:'';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20 auto 5px;
}
.profile-pic{
    margin-top:25px ;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{
    filter: grayscale(1);
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    
}
#locations .fa{
height: 25px;
width: 25px;
color: #007bff !important;
background:#fff;
padding: 4px;
border-radius: 50%;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
}
.img-box ul li{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transition: 0.5s;
}
/*--Promo--*/
#promo{
    background-image:
     linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/bugs\ back.jpg);
     background-size: cover;
     background-position: center;
     color: #fff;
     background-attachment: fixed;
     text-align: center;
     padding: 100px;
     font-family:sans-serif;
     font-size: 38px;
}

/*--Contact Form--*/
#contact{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0!important;
    border: none!important;
}
::placeholder{
    color: #999!important;
}
.follow{
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*--footer--*/
#footer{
    background:#333;
    color: #fff;
    padding: 12px;
}
.fa-bug{
    margin: 3px;
}

.fa-paw{
    margin: 3px;
    
}



  .toolbarLB {
    text-align: right;
    padding: 3px;
  }
  .closeLB {
    color: red;
    cursor: pointer;
  }
  .lightbox .iframeContainer {
    vertical-align: middle;
    background: #CCC;
    padding: 2px;
  }
  .lightbox.closed {
    display: none;
  }

  /*Testing popup*/


  .bg-modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7)!important;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
  
}
.modal-contant{
    width: 500px;
    height: 300px;
    background-color: white!important;
    overflow: hidden,none;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
    
    
}
input{
    width: 50%;
    display: block;
    margin: 15px auto !important;

}
.clo{
    position:absolute;
    top: 0;
    right:14px;
    font-size: 45px;
    transform:rotate(45deg);
    cursor: pointer;
    
}
